@import '../../../node_modules/leaflet/dist/leaflet.css';

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#map {
  height: 100%;
  width: 100%;
}

/* TODO this is a temp fix */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/layers-2x.png);
}