:host {
  --margin: 10px;
  --left-section-width: 3rem;
  --width: 20rem;

  display: flex;
  box-sizing: border-box;
  margin: var(--margin);
  height: calc(100vh - var(--margin) * 2);
  width: auto;
}

#left-section,
#right-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#left-section {
  width: var(--left-section-width);
}

#right-section {
  width: calc(var(--width) - var(--left-section-width));
  overflow-x: hidden;
  transition: width .3s ease;
}

#right-section.collapsed {
  width: 0;
}

#collapse-toggle-button {
  height: var(--left-section-width);
  width: var(--left-section-width);
  cursor: pointer;
  border: none;
}

#collapse-toggle-button:hover {
  background: darkgrey;
}

#header {
  height: var(--left-section-width);
  width: 100%;
  font-size: 1.5rem;
  background: lightgrey;
}

#metadata-container,
.charts-container > * {
  margin: .5rem;
  padding: .5rem;
  border: 1px solid black;
  border-radius: .5rem;
}