:host {
  --margin: 10px;
  --left-section-width: 3rem;
  --width: 20rem;

  display: flex;
  box-sizing: border-box;
  margin: var(--margin);
  height: calc(100vh - var(--margin) * 2);
  width: auto;
  box-sizing: border-box;
}

#left-section,
#right-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#left-section {
  width: var(--left-section-width);
}

#right-section {
  width: calc(var(--width) - var(--left-section-width));
  overflow-x: hidden;
  transition: width 0.3s ease;
}

#right-section.collapsed {
  max-width: 0;
}

#left-section > button {
  height: var(--left-section-width);
  width: var(--left-section-width);
  cursor: pointer;
  border: none;
}

#left-section > button.selected,
#left-section > button:hover {
  background: darkgrey;
}

#header {
  height: var(--left-section-width);
  width: 100%;
  font-size: 1.5rem;
  background: lightgrey;
}

.chart-container {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
